{%- comment -%}
  Code-owned top header navigation with fixed order:
  1. Shop (dropdown: All Products, New Arrivals, Best Sellers)
  2. Everyday Bags (metafield dropdown)
  3. Travel (metafield dropdown)
  4. Pet Travel (metafield dropdown)
  5. Accessories (metafield dropdown)
  6. About
{%- endcomment -%}

{%- liquid
  assign new_arrivals_url = collections['new-arrivals'].url | default: '/collections/new-arrivals'
  assign best_sellers_url = collections['best-sellers'].url
  if best_sellers_url == blank
    assign best_sellers_url = collections['best-seller'].url
  endif
  if best_sellers_url == blank
    assign best_sellers_url = collections['bestsellers'].url
  endif
  if best_sellers_url == blank
    assign best_sellers_url = collections['bestseller'].url
  endif
  if best_sellers_url == blank
    assign best_sellers_url = '/collections/best-sellers'
  endif
  assign shop_all_url = '/collections/all'
  assign about_us_url = '/pages/about-us'

  assign category_order = "Everyday Bags,Travel,Pet Travel,Accessories" | split: ','
-%}

{%- if code_menu_mode == 'mobile' -%}
  <li>
    <details id="Details-menu-drawer-shop">
      <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
        Shop
        <span class="menu-drawer__submenu-toggle mobile-accordion-toggle" aria-hidden="true">
          {% render 'icon-caret' %}
        </span>
      </summary>
      <div class="mobile-accordion-submenu" tabindex="-1">
          <ul class="menu-drawer__menu list-menu" role="list">
            <li>
              <a href="{{ shop_all_url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                All Products
              </a>
            </li>
            <li>
              <a href="{{ new_arrivals_url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                New Arrivals
              </a>
            </li>
            <li>
              <a href="{{ best_sellers_url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                Best Sellers
              </a>
            </li>
          </ul>
      </div>
    </details>
  </li>
  {%- if category_menu_collections != blank -%}
    {%- for category_label in category_order -%}
      {%- assign category_label_clean = category_label | strip -%}
      {%- assign category_handle = category_label_clean | handleize -%}
      {%- assign has_children = false -%}
      {%- for category_collection in category_menu_collections -%}
        {%- assign primary_cat = category_collection.metafields.custom.primary_category -%}
        {%- if primary_cat != blank -%}
          {%- assign cat_value = primary_cat.value -%}
          {%- if primary_cat.type contains 'list.' -%}
            {%- assign cat_value = primary_cat.value | join: ', ' -%}
          {%- endif -%}
          {%- if cat_value contains category_label_clean -%}
            {%- assign has_children = true -%}
            {%- break -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if has_children -%}
        <li>
          <details id="Details-menu-drawer-metafield-category-{{ category_handle }}">
            <summary class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
              {{ category_label_clean | escape }}
              <span class="menu-drawer__submenu-toggle mobile-accordion-toggle" aria-hidden="true">
                {% render 'icon-caret' %}
              </span>
            </summary>
            <div class="mobile-accordion-submenu" tabindex="-1">
                <ul class="menu-drawer__menu list-menu" role="list">
                  {%- if child_order != blank -%}
                    {%- for child_label in child_order -%}
                      {%- assign child_label_clean = child_label | strip -%}
                      {%- for child_collection in category_menu_collections -%}
                        {%- assign child_primary = child_collection.metafields.custom.primary_category -%}
                        {%- if child_primary != blank -%}
                          {%- assign child_value = child_primary.value -%}
                          {%- if child_primary.type contains 'list.' -%}
                            {%- assign child_value = child_primary.value | join: ', ' -%}
                          {%- endif -%}
                          {%- if child_value contains category_label_clean and child_collection.title contains child_label_clean -%}
                            <li>
                              <a href="{{ child_collection.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                                {{ child_collection.title | escape }}
                              </a>
                            </li>
                          {%- endif -%}
                        {%- endif -%}
                      {%- endfor -%}
                    {%- endfor -%}
                  {%- else -%}
                    {%- for child_collection in category_menu_collections -%}
                      {%- assign child_primary = child_collection.metafields.custom.primary_category -%}
                      {%- if child_primary != blank -%}
                        {%- assign child_value = child_primary.value -%}
                        {%- if child_primary.type contains 'list.' -%}
                          {%- assign child_value = child_primary.value | join: ', ' -%}
                        {%- endif -%}
                        {%- if child_value contains category_label_clean -%}
                          <li>
                            <a href="{{ child_collection.url }}" class="menu-drawer__menu-item link link--text list-menu__item focus-inset">
                              {{ child_collection.title | escape }}
                            </a>
                          </li>
                        {%- endif -%}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                </ul>
            </div>
          </details>
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  <li>
    <a href="{{ about_us_url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
      About
    </a>
  </li>
{%- else -%}
  <li>
    <header-menu>
      <details id="Details-HeaderMenu-Shop">
        <summary class="header__menu-item list-menu__item link focus-inset">
          <span>Shop</span>
          {% render 'icon-caret' %}
        </summary>
        <ul id="HeaderMenu-Shop" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
          <li>
            <a href="{{ shop_all_url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large">
              All Products
            </a>
          </li>
          <li>
            <a href="{{ new_arrivals_url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large">
              New Arrivals
            </a>
          </li>
          <li>
            <a href="{{ best_sellers_url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large">
              Best Sellers
            </a>
          </li>
        </ul>
      </details>
    </header-menu>
  </li>
  {%- if category_menu_collections != blank -%}
    {%- for category_label in category_order -%}
      {%- assign category_label_clean = category_label | strip -%}
      {%- assign category_handle = category_label_clean | handleize -%}
      {%- assign has_children = false -%}
      {%- for category_collection in category_menu_collections -%}
        {%- assign primary_cat = category_collection.metafields.custom.primary_category -%}
        {%- if primary_cat != blank -%}
          {%- assign cat_value = primary_cat.value -%}
          {%- if primary_cat.type contains 'list.' -%}
            {%- assign cat_value = primary_cat.value | join: ', ' -%}
          {%- endif -%}
          {%- if cat_value contains category_label_clean -%}
            {%- assign has_children = true -%}
            {%- break -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if has_children -%}
        <li>
          <header-menu>
            <details id="Details-HeaderMenu-MetafieldCategory-{{ category_handle }}">
              <summary class="header__menu-item list-menu__item link focus-inset">
                <span>{{ category_label_clean | escape }}</span>
                {% render 'icon-caret' %}
              </summary>
              <ul id="HeaderMenu-MetafieldCategory-{{ category_handle }}" class="header__submenu list-menu list-menu--disclosure gradient caption-large motion-reduce global-settings-popup" role="list" tabindex="-1">
                {%- if child_order != blank -%}
                  {%- for child_label in child_order -%}
                    {%- assign child_label_clean = child_label | strip -%}
                    {%- for child_collection in category_menu_collections -%}
                      {%- assign child_primary = child_collection.metafields.custom.primary_category -%}
                      {%- if child_primary != blank -%}
                        {%- assign child_value = child_primary.value -%}
                        {%- if child_primary.type contains 'list.' -%}
                          {%- assign child_value = child_primary.value | join: ', ' -%}
                        {%- endif -%}
                        {%- if child_value contains category_label_clean and child_collection.title contains child_label_clean -%}
                          <li>
                            <a href="{{ child_collection.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large">
                              {{ child_collection.title | escape }}
                            </a>
                          </li>
                        {%- endif -%}
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endfor -%}
                {%- else -%}
                  {%- for child_collection in category_menu_collections -%}
                    {%- assign child_primary = child_collection.metafields.custom.primary_category -%}
                    {%- if child_primary != blank -%}
                      {%- assign child_value = child_primary.value -%}
                      {%- if child_primary.type contains 'list.' -%}
                        {%- assign child_value = child_primary.value | join: ', ' -%}
                      {%- endif -%}
                      {%- if child_value contains category_label_clean -%}
                        <li>
                          <a href="{{ child_collection.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large">
                            {{ child_collection.title | escape }}
                          </a>
                        </li>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endfor -%}
                {%- endif -%}
              </ul>
            </details>
          </header-menu>
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  <li>
    <a href="{{ about_us_url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset">
      <span>About</span>
    </a>
  </li>
{%- endif -%}
